body{
    background-color: #edeaff  ;

}
.stopwatch{
    background-image:  url(images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.65;
    text-align: center;
    /* margin-top: 200px;
    margin-bottom: 200px;
    margin-right:200px ;
    margin-left:100px ; */
    padding: 40px 0;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);

}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.button img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}
.button img:nth-child(2){
    width: 80px;
}